@model Server_v0._0.Models.Report
@{
    ViewBag.Title = Model.ReportId;
}
<h2>Название статуса:   @Model.ReportId</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.ReportId</dd>

        <dt>Дата</dt>
        <dd>@Model.Date</dd>

        <dt>Описание</dt>
        <dd>@Model.Description</dd>

        <dt>Link</dt>
        <dd>@Model.Link</dd>
    </dl>
</div>