@model Server_v0._0.Models.Computer
@{
    ViewBag.Title = "Удаление информации о компьютере";
}
 
<div>
    <dl class="dl-horizontal">
        <dt>Название компьютера</dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.GraphicsCard)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Motherboars)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.PowerSupply)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.HardDrive)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.SSD_Disk)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
 
    <div>
        <form asp-controller="Computers" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>