@model Server_v0._0.Models.Computer
@{
    ViewBag.Title = Model.Title;
}
<h2>Название статуса:   @Model.Title</h2>
<div>
    <dl class="dl-vertical">
        <dt>Идентификатор</dt>
        <dd>@Model.ComputerId</dd>

        <dt>Название компьютера</dt>
        <dd>@Model.Title</dd>

        <dt>Название процессора</dt>
        <dd>@Model.CPU</dd>

        <dt>Название видеокарты</dt>
        <dd>@Model.GraphicsCard</dd>

        <dt>Название оперативной памяти</dt>
        <dd>@Model.RAM</dd>

        <dt>Название материнской платы</dt>
        <dd>@Model.Motherboars</dd>

        <dt>Название блока питания</dt>
        <dd>@Model.PowerSupply</dd>

        <dt>Название жёсткого диска</dt>
        <dd>@Model.HardDrive</dd>

        <dt>Название SSD диска</dt>
        <dd>@Model.SSD_Disk</dd>

        <dt>Название корпуса компьютера</dt>
        <dd>@Model.Body</dd>  

        <dt>Цена</dt>
        <dd>@Model.Price</dd>
    </dl>
</div>