@model IEnumerable<Server_v0._0.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Computers</h1>

<p>
    <a asp-action="Create">Create New</a>
    <form asp-action="ChangePrice" method="post">
        <div style="display: flex;align-items: center;text-align: center;">
            <a style="display: flex;align-items: center;text-align: center;padding:5px" class="form-group">
                <label style="padding:5px" class="control-label">Percent</label>
                <input style="max-width:100px" name="percent" class="form-control" />
            </a>
            <a class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </a>
            </div>
        </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GraphicsCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motherboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerSupply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardDrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSD_Disk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style=@Delete.DelColor(@item.IsDeleted)>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraphicsCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motherboard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerSupply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardDrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSD_Disk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComputerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComputerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComputerId">@Delete.DelStatus(@item.IsDeleted)</a>
            </td>
        </tr>
}
    </tbody>
</table>
