@model IEnumerable<Server_v0._0.Models.Computer>
@{
    ViewBag.Title = "Все пользователи";
 }
<a asp-action="Create">Добавить компьютер</a>
<table class="table">
     
    @foreach (var item in Model)
    {
        <tr style=@Delete.DelColor(@item.IsDeleted)><td>@item.ComputerId</td>
            <td>
                <a asp-action="Details" asp-controller="Computers" asp-route-id="@item.ComputerId">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Computers" asp-route-id="@item.ComputerId">Изменить</a> |
                <a asp-action="Delete" asp-controller="Computers" asp-route-id="@item.ComputerId">@Delete.DelStatus(@item.IsDeleted)</a>
            </td></tr>
    }
</table>