@model Server_v0._0.Models.Discount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiscountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
